.planet-value {
    margin-left: 10px;
    color: gray;
    font-size: 12px;
}

.planet-header {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
}

.mat-dialog-title {
    margin: 10px;
}

.mat-dialog-content {
    margin: 4px;
}

.mat-dialog-footer {
    margin: -7px 15px;
}